@font-face {
    font-family: "cooking-water";
    src: url(../fonts/cooking_water_font/Cooking\ Water.otf);
}

.pagesContainer {
    width: 100vw;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    
    
}

.pageNumber {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5vw;
    height: 5vh;
    background-color: rgb(237, 227, 177);
    font-family: cooking-water;
    font-size: 2rem;
    box-shadow: 1rem 1rem 1rem rgb(122, 111, 97);
}