.recipeDetailContainer {
    background: rgb(251, 232, 128);
    padding: 5%;
    margin: 5%;
    margin-top: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    margin-left: 5%;
    border-radius: 5rem;
}

