
@font-face {
    font-family: "cooking-water";
    src: url(../fonts/cooking_water_font/Cooking\ Water.otf);
}


.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 20%;
    width: 20%;
    background-color: aqua;
    padding: 5%;
    /* font-family: cooking-water;
    font-size: 2rem; */
}

