
@font-face {
    font-family: "cooking-water";
    src: url(../fonts/cooking_water_font/Cooking\ Water.otf);
}


.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3%;
    width: 20%;
    background-color: rgb(241, 213, 77);
    padding: 5%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    border-radius: 3rem;
}

.images {
    border-radius: 2rem;
    max-width: 100%;
}

