
@font-face {
    font-family: "cooking-water";
    src: url(../fonts/cooking_water_font/Cooking\ Water.otf);
}

@font-face {
    font-family: "cafe-matcha";
    src: url(../fonts/CallingFont.ttf);
}



.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3%;
    width: 20%;
    background-color: rgb(241, 213, 77);
    padding: 2%;
    font-family: Arial, Helvetica, serif;
    font-size: 1.2rem;
    border-radius: 2rem;
    box-shadow: 1rem 1rem 1rem rgb(122, 111, 97);

}

.images {
    border-radius: 1rem;
    max-width: 100%;
}

.titleDivCard {
    font-family: cooking-water;
    font-size: 2rem;
}

.errorMsg {
    color: red;
}
